#Lab-06

question 1

In [1]:
import pandas as pd

# Step 1: Create a sample sales dataset with duplicate entries
data = {
    "TransactionID": [101, 102, 103, 104, 105, 103, 104],  # duplicate IDs for 103 and 104
    "Customer": ["Alice", "Bob", "Charlie", "David", "Eva", "Charlie", "David"],
    "Amount": [250, 300, 150, 400, 500, 150, 400],
    "Date": ["2025-01-01", "2025-01-02", "2025-01-03", "2025-01-04", "2025-01-05",
             "2025-01-03", "2025-01-04"]
}

df_sales = pd.DataFrame(data)

print("Original Sales Dataset:")
print(df_sales)

# Step 2: Check for duplicates
print("\nDuplicate Rows:")
print(df_sales[df_sales.duplicated()])

# Step 3: Count before removing
print("\nBefore Removing Duplicates:", len(df_sales))

# Step 4: Remove duplicates
df_sales_cleaned = df_sales.drop_duplicates()

# Step 5: Count after removing
print("After Removing Duplicates:", len(df_sales_cleaned))

print("\nCleaned Sales Dataset:")
print(df_sales_cleaned)

Original Sales Dataset:
   TransactionID Customer  Amount        Date
0            101    Alice     250  2025-01-01
1            102      Bob     300  2025-01-02
2            103  Charlie     150  2025-01-03
3            104    David     400  2025-01-04
4            105      Eva     500  2025-01-05
5            103  Charlie     150  2025-01-03
6            104    David     400  2025-01-04

Duplicate Rows:
   TransactionID Customer  Amount        Date
5            103  Charlie     150  2025-01-03
6            104    David     400  2025-01-04

Before Removing Duplicates: 7
After Removing Duplicates: 5

Cleaned Sales Dataset:
   TransactionID Customer  Amount        Date
0            101    Alice     250  2025-01-01
1            102      Bob     300  2025-01-02
2            103  Charlie     150  2025-01-03
3            104    David     400  2025-01-04
4            105      Eva     500  2025-01-05

2nd question

In [2]:
import pandas as pd

# Step 1: Create a dataset with wrong data types
data = {
    "EmployeeID": [1, 2, 3],
    "Name": ["John", "Alice", "Bob"],
    "Salary": ["50000", "60000", "55000"],  # stored as string
    "Joining_Date": ["2025-01-15", "2024-12-20", "2025-02-10"]  # stored as string
}

df_employee = pd.DataFrame(data)

print("Original Employee Dataset (with wrong data types):")
print(df_employee.dtypes)

# Step 2: Convert Salary to numeric
df_employee["Salary"] = pd.to_numeric(df_employee["Salary"])

# Step 3: Convert Joining_Date to datetime
df_employee["Joining_Date"] = pd.to_datetime(df_employee["Joining_Date"])

print("\nCorrected Employee Dataset (with correct data types):")
print(df_employee.dtypes)

print("\nFinal Employee Dataset:")
print(df_employee)

Original Employee Dataset (with wrong data types):
EmployeeID       int64
Name            object
Salary          object
Joining_Date    object
dtype: object

Corrected Employee Dataset (with correct data types):
EmployeeID               int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object

Final Employee Dataset:
   EmployeeID   Name  Salary Joining_Date
0           1   John   50000   2025-01-15
1           2  Alice   60000   2024-12-20
2           3    Bob   55000   2025-02-10