<a href="https://colab.research.google.com/github/aneesh1818/b3_PDS_1120/blob/main/PDS_LAB_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

a = pd.DataFrame({
    'product_id': [101, 102, 103, 104],
    'product_name': ['Laptop', 'Smartphone', 'Tablet', 'Headphones'],
    'category': ['Electronics', 'Electronics', 'Electronics', 'Accessories'],
    'price': [900, 600, 300, 150]
})

b = pd.DataFrame({
    'sale_id': [1, 2, 3, 4, 5, 6],
    'product_id': [101, 102, 101, 104, 103, 102],
    'quantity': [5, 10, 2, 8, 7, 3]
})

c = pd.merge(a, b, on='product_id', how='inner')
d = pd.merge(a, b, on='product_id', how='outer')

c['revenue'] = c['price'] * c['quantity']

e = c.groupby('product_name')['quantity'].sum()
f = c.groupby('category')['quantity'].sum()
g = c['revenue'].sum()
h = a['price'].mean()
i = f.idxmax()

print("Inner Join:\n", c)
print("\nOuter Join:\n", d)
print("\nTotal Revenue: $", g)
print("Average Price: $", h)
print("\nProduct-wise Sales:\n", e)
print("\nCategory-wise Sales:\n", f)
print("\nBest Selling Category:", i)

Inner Join:
    product_id product_name     category  price  sale_id  quantity  revenue
0         101       Laptop  Electronics    900        1         5     4500
1         101       Laptop  Electronics    900        3         2     1800
2         102   Smartphone  Electronics    600        2        10     6000
3         102   Smartphone  Electronics    600        6         3     1800
4         103       Tablet  Electronics    300        5         7     2100
5         104   Headphones  Accessories    150        4         8     1200

Outer Join:
    product_id product_name     category  price  sale_id  quantity
0         101       Laptop  Electronics    900        1         5
1         101       Laptop  Electronics    900        3         2
2         102   Smartphone  Electronics    600        2        10
3         102   Smartphone  Electronics    600        6         3
4         103       Tablet  Electronics    300        5         7
5         104   Headphones  Accessories    150        4         8

Total Revenue: $ 17400
Average Price: $ 487.5

Product-wise Sales:
 product_name
Headphones     8
Laptop         7
Smartphone    13
Tablet         7
Name: quantity, dtype: int64

Category-wise Sales:
 category
Accessories     8
Electronics    27
Name: quantity, dtype: int64

Best Selling Category: Electronics

In [2]:
j = pd.DataFrame({
    'teacher_id': [201, 202, 203, 204],
    'teacher_name': ['Alice', 'Bob', 'Charlie', 'David'],
    'department': ['CS', 'Math', 'Physics', 'CS']
})

k = pd.DataFrame({
    'course_id': [301, 302, 303, 304, 305, 306],
    'teacher_id': [201, 202, 201, 204, 203, 202],
    'course_name': ['Data Science', 'Algebra', 'AI', 'Networks', 'Quantum', 'Calculus']
})

l = pd.merge(j, k, on='teacher_id', how='inner')
m = pd.merge(j, k, on='teacher_id', how='left')

n = m.groupby('teacher_name')['course_name'].count()
o = m.groupby('department')['course_name'].count()

p = n.mean()

print("\nInner Join:\n", l)
print("\nLeft Join:\n", m)
print("\nAverage Courses per Teacher:", p)
print("\nCourses per Department:\n", o)

Inner Join:
    teacher_id teacher_name department  course_id   course_name
0         201        Alice         CS        301  Data Science
1         201        Alice         CS        303            AI
2         202          Bob       Math        302       Algebra
3         202          Bob       Math        306      Calculus
4         203      Charlie    Physics        305       Quantum
5         204        David         CS        304      Networks

Left Join:
    teacher_id teacher_name department  course_id   course_name
0         201        Alice         CS        301  Data Science
1         201        Alice         CS        303            AI
2         202          Bob       Math        302       Algebra
3         202          Bob       Math        306      Calculus
4         203      Charlie    Physics        305       Quantum
5         204        David         CS        304      Networks

Average Courses per Teacher: 1.5

Courses per Department:
 department
CS         3
Math       2
Physics    1
Name: course_name, dtype: int64